/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */


.sidebar_link {
  display: flex;
  color: #1a1a1a;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  list-style: none;
  height: 49px;
  text-decoration: none;
  font-size: 14px;
  line-height: 24;
  font-weight: 400;
  margin-right: 7px;
  margin-left: 7px;
}

.sidebar_link:hover {
  background: #1a1a1a1a;
    border-radius: 8px;
    cursor: pointer;
}
